<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mx-auto p-3">
        <header class="container border-bottom pb-3 mb-4 align-items-center">
            <a href="" class="text-decoration-none">
            <div class="row">
                <div class="col-1">
                    <img class="mt-2" width="100%" src="raccoon.png" />
                </div>
                <div class="col">
                    <div class="display-5 text-dark pb-0">EM Resources</div>
                    <small class="text-muted"><em>Fewer clicks, more happiness</em></small>
                </div>
            </div>
            </a>
        </header>
        <main>
            {{ content | safe }}
            {# <div class="container">
                <h1 class="pb-2">Site-Specific Resources</h1>
                <div class="row">
                    <div class="col">
                        <h2>UofM</h2>
                        <p>Blah blah blah</p>
                    </div>
                    <div class="col">
                        <h2>SJ</h2>
                        <p><a href="/">SJ Pre-filled Cert</a></p>
                        <p>Blah blah blah</p>
                    </div>
                    <div class="col">
                        <h2>Hurley</h2>
                        <p><a href="/">Hurley Pre-filled Cert</a></p>
                        <p>blah blah blah</p>
                    </div>
                </div>
            </div> #}
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>